.flex-container{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 13pt;
}

.card-header{
    font-weight: bold;
    font-size: 13pt;
}

#backBtn{
    /* display: inline; */
    /* padding-right: 3%; */
    padding-bottom: 2%;
}

#editProfBtn{
    /* display: inline; */
    padding-bottom: 2%;
}

#editLoginBtn{
    /* display: inline; */
    padding-bottom: 2%;
}

#bottomRow{
    padding-bottom: 2%;
}
