
<div class="flex-container">
    <div class="container">
        <div class="form-row">
            <div class="col-md-8">
                <form [formGroup]="editVolunteerForm" (ngSubmit)="onSubmitProfile()">
                    <div class="heading">
                        <h2 class="title">Volunteer: Edit Profile</h2>
                    </div>
        
                    <label for="firstName">First Name:</label>
                    <input id="firstName" formControlName="firstName" type="text" class="form-control" [ngClass]="{ 'is-invalid': form.firstName.errors }" placeholder="First Name">
                    <div *ngIf="submitted && form.firstName.errors" class="invalid-feedback">
                        <div *ngIf="form.firstName.errors.pattern">First name not valid</div>
                        <div *ngIf="form.firstName.errors.required">First Name is required</div>
                    </div>
                
                    <label for="lastName">Last Name:</label>
                    <input id="lastName" formControlName="lastName" type="text" class="form-control" [ngClass]="{ 'is-invalid': form.lastName.errors }" placeholder="Last Name">
                    <div *ngIf="submitted && form.lastName.errors" class="invalid-feedback">
                        <div *ngIf="form.lastName.errors.pattern">Last name not valid</div>
                        <div *ngIf="form.lastName.errors.required">Last Name is required</div>
                    </div>
                
                    <label for="phoneNum">Phone Number:</label>
                    <input type="text" formControlName="phoneNum" class="form-control" id="phoneNum" [ngClass]="{ 'is-invalid': form.phoneNum.errors }" placeholder="302-555-7890">
                    <div *ngIf="submitted && form.phoneNum.errors" class="invalid-feedback">
                        <div *ngIf="form.phoneNum.errors.minlength">Phone number needs to be 10 characters minimum</div>
                        <div *ngIf="form.phoneNum.errors.required">Phone number is required</div>
                    </div>

                    <label for="email">Email Address:</label>
                    <input type="email" formControlName="email" class="form-control" id="email" [ngClass]="{ 'is-invalid': form.email.errors }" placeholder="yourAddress@email.com">
                    <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                        <div *ngIf="form.email.errors.pattern">Email is not valid</div>
                        <div *ngIf="form.email.errors.required">Email is required</div>
                    </div>
                    <div *ngIf="emailAlreadyTaken" class="alert alert-danger"> 
                        *This username already exists!
                    </div>
                
                    <label for="link">A link to a social media account for identification purposes:</label>
                    <input type="text" formControlName="link" class="form-control" id="link" placeholder="Social Media Link">  
                
                <div class="form-group" id="btnSubmit">                 
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
            <div id="backBtn">
                <a type="button" class="btn btn-primary" [routerLink]="['/view-profile']">Back</a>
            </div>

            </div>
        </div>
    </div>
</div>
