<div class="flex-container">
    <div class="container">
        <h1>Volunteer: Update Email Address</h1>

        <div id="currentEmail"><strong><u>Current Email:</u></strong></div>
        <div id="userEmail">
            {{volunteer$.email}}
        </div>

        <form [formGroup]="editVolEmail" (ngSubmit)="onSubmit()">
            <div class="form-group"> 
                
                <label for="email"><strong><u>Updated Email address:</u></strong></label>
                <input type="email" formControlName = "newEmail" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="New email">
                <div *ngIf="emailTaken" class="invalid-feedback">
                    **This email is already taken, please try again.
                </div>
                
                <!-- <div *ngIf="form.get('newEmail').hasError('pattern')" class="alert alert-danger"> 
                    *The username or password you have entered is invalid!
                </div>  -->
        
                       
            
            <div class="row">
                <div class="col-md-3" id="btnSubmit">
                    <button type="submit" class="btn btn-primary">Update Email</button>
                </div>  
                <div class="col-md-3" id="backBtn">
                    <a type="button" class="btn btn-primary" [routerLink]="['/view-profile']">Cancel</a>
                </div>
                <!-- <div class="col-md-3" id="editPWBtn">
                    <a type="button" class="btn btn-primary" [routerLink]="['/update-volpw', volunteer$.id]">Edit Password</a>
                </div> -->
            </div>
            </div>
        </form>

       
        
    </div> 

</div>
