<div class="flex-container">
    <div class="container">
        <h1>Volunteer: Update Email Address</h1>

        <div id="currentEmail"><strong><u>Current Email:</u></strong></div>
        <div id="userEmail">
            {{volunteer$.email}}
        </div>

        <form [formGroup]="editVolEmailForm" (ngSubmit)="onSubmit()">
            <!-- <div class="form-group">  -->
                
                <div class="form-group" [ngClass]="{'has-error' : editVolEmailForm.get('newEmail').errors && 
                    (editVolEmailForm.get('newEmail').touched || editVolEmailForm.get('newEmail').dirty)}">
                <label for="newEmail"><strong><u>Updated Email address:</u></strong></label>
                <input type="email" formControlName = "newEmail" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="New email">
                <div class="help-block" *ngIf="editVolEmailForm.get('newEmail').errors && 
                (editVolEmailForm.get('newEmail').touched || editVolEmailForm.get('newEmail').dirty)">
                    <div *ngIf="editVolEmailForm.get('newEmail').errors.required">
                        You must provide a valid email address to update your account. 
                    </div>
                </div>
                
                    <div *ngIf="emailTaken" id="emailTaken">
                        **This email is already taken, please try again.
                    </div>
                </div>
                
                <!-- <div *ngIf="form.get('newEmail').hasError('pattern')" class="alert alert-danger"> 
                    *The username or password you have entered is invalid!
                </div>  -->
        
                       
            
            <div class="row">
                <div class="col-md-3" id="btnSubmit">
                    <button type="submit" class="btn btn-primary">Update Email</button>
                </div>  
                <div class="col-md-3" id="backBtn">
                    <a type="button" class="btn btn-primary" [routerLink]="['/view-profile']">Profile</a>
                </div>
            </div>
            <!-- </div> -->
        </form>

       
        
    </div> 

</div>
