<div class="flex-container">
    <div class="container">
        <h2>Volunteer: Update Email Address</h2>
            
        <form [formGroup]="editVolunteerEmailForm" (ngSubmit)="onSubmit()">
                        
            <label for="currentEmail">Current Email:</label>
            <input type="text" formControlName="currentEmail" class="form-control" id="currentEmail" [ngClass]="{ 'is-invalid': form.currentEmail.errors }">
            <div *ngIf="form.touched && form.dirty" class="invalid-feedback">
                <div *ngIf="form.currentEmail.errors.required">New Email is required</div>
            </div>

            <label for="newEmail">New Email:</label>
            <input type="text" formControlName="newEmail" class="form-control" id="newEmail" [ngClass]="{ 'is-invalid': form.newPassword.errors }" placeholder="New Email">
            <div *ngIf="submitted && form.newEmail.errors" class="invalid-feedback">
                <div *ngIf="form.newEmail.errors.pattern">Please Enter a valid Email</div>
                <div *ngIf="form.newEmail.errors.required">New Email is required</div>
            </div>

            <div class="form-group" id="btnSubmit">                 
                <button type="submit" class="btn btn-primary">Update Email</button>
            </div>    
           
        </form>
        <div class="row">
            <div class="col-md-2" id="backBtn">
                <a type="button" class="btn btn-primary" [routerLink]="['/view-profile']">View Profile</a>
            </div>
            <div class="col-md-2" id="editPWBtn">
                <a type="button" class="btn btn-primary" [routerLink]="['/update-volpw', volunteer$.id]">Edit Password</a>
            </div>
        </div>
    </div>
</div>
