<header>
    <div class="flex-container">
        <nav class="navbar navbar-expand-md navbar-light">
            
            <span class="navbar-brand"><img src="../../assets/logoHeader.png" id="logo"></span>
                
            
            <div id="title">Delaware Helping Hands 
                <br>
                "Many hands make light work"
                </div>

            <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
                aria-label="Toggle navigation" (click)="collapsed = !collapsed">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" ngbDropdown>
                        <a class="nav-link" a [routerLink]="['']" routerLinkActive="router-link-active" style="color:white" role="button">
                        Home
                        </a>
                    </li>

                    <li class="nav-item" ngbDropdown>
                        <a class="nav-link" a [routerLink]="['/about']" routerLinkActive="router-link-active" style="color:white" role="button">
                        About
                        </a>
                    </li>

                    <div *ngIf="(!volIsLoggedIn && recipIsLoggedIn) || (volIsLoggedIn && !recipIsLoggedIn)">
                        <li class="nav-item" ngbDropdown>
                            <a class="nav-link" a [routerLink]="['/volunteer-login']" routerLinkActive="router-link-active" style="color:white"  role="button">
                                Volunteers 
                            </a>
                        </li>
                    </div>

                    <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
                        <a class="nav-link" a [routerLink]="['/requestor-login']" routerLinkActive="router-link-active" style="color:white"  role="button">
                        Requests  
                        </a>
                    </li>

                    <div *ngIf="volIsLoggedIn || recipIsLoggedIn">
                        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
                            <a class="nav-link" a [routerLink]="['/volunteer-login']" routerLinkActive="router-link-active" style="color:white" (click)="logout()"  role="button">
                            Logout  
                            </a>
                        </li>
                    </div>

                    <div *ngIf="volIsLoggedIn || recipIsLoggedIn">
                        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
                            <a class="nav-link" a [routerLink]="['/view-profile']" routerLinkActive="router-link-active" style="color:white" role="button">
                            Profile  
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
        
        <div id="design-block"></div>
    </div>
</header>



