.flex-container{
    padding-top: 2%;
    padding-bottom: 2%;
}

.container-fluid{
    padding-left: 3%;
    padding-right: 3%;
}

.table-btn{
    margin-right: 5%;
}

/* table{
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
} */

a{
    color: white;
}