h1{
    text-align: center;
    color: rgb(228, 86, 86);
    font-weight: bold;
}

.flex-container{
    font-size: 13pt;
    padding-bottom: 2%;
}

.title{
    padding-top: 2%;
}

.cantHelp{
    color: red;
    padding-top: 1%;
}

#backBtn{
    padding-bottom: 2%;
}

.buttons{
    padding-top: 2%;
    text-align: center;
}

.text{
    padding-top: 1%;
    margin-left: 8%;
    margin-right: 8%;
}
