#more-info{
    text-align: center;
    font-size: 16pt;
    padding-bottom: 2%;
    padding-top: 4%;
    font-weight: bold;
}

.row{
    text-align: center;
    font-size: 16pt;
    padding-top: 2%;
}

#about{
    font-size: larger;
}

.btn{
    background-color: rgb(228, 86, 86);
    color: white; 
}

.alreadyAVolunteer, .updateRequest{
    padding-top: 9%;
    font-weight: bold; 
}

#regBtn{
    padding-top: 2%;
}

.newRequestor, .wantToVolunteer{
    font-weight: bold;
}
