.flex-container{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 13pt;
}

#btnSubmit{
    display: inline;
    padding-right: 3%;
}

#backBtn{
    display: inline;
    color: white;
    text-align: center;
}

.buttons{
    padding-top: 2%;
    padding-bottom: 2%;
}

h2{
    padding-bottom: 1%;
}

#col1{
    padding-left: 5%;
    padding-right: 3%;
}

#col2{
    padding-right: 5%;
    padding-left: 3%;
}