<div class="flex-container">
    <div class="container">
        <h2>Volunteer: Update Password</h2>

        <form [formGroup]="editVolunteerPWForm" (ngSubmit)="onSubmit()">        
            <label for="currentPassword">Current Password:</label>
            <input type="password" formControlName="currentPassword" class="form-control" id="currentPassword" [ngClass]="{ 'is-invalid': form.currentPassword.errors }" placeholder="Current Password">
            <div *ngIf="submitted && form.currentPassword.errors" class="invalid-feedback">
                <div *ngIf="form.currentPassword.errors.required">Password is required</div>
            </div>

            <label for="newPassword">New Password:</label>
            <input type="password" formControlName="newPassword" class="form-control" id="newPassword" [ngClass]="{ 'is-invalid': form.newPassword.errors }" placeholder="New Password">
            <div *ngIf="submitted && form.newPassword.errors" class="invalid-feedback">
                <div *ngIf="form.newPassword.errors.pattern">Password needs lowercase, uppercase, number, and symbol: 8 characters minimum</div>
                <div *ngIf="form.newPassword.errors.required">Password is required</div>
            </div>

            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" [ngClass]="{ 'is-invalid': form.confirmPassword.errors }" placeholder="Confirm Password">
            <div *ngIf="submitted && form.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="form.confirmPassword.errors.pattern">Password needs lowercase, uppercase, number, and symbol: 8 characters minimum</div>
                <div *ngIf="form.confirmPassword.errors.required">Password is required</div>
            </div>
            <div *ngIf="passwordsDontMatch" class="invalid-feedback">
                **Your passwords don't match.  Please try again.
            </div>

            <div class="buttons">
                <div class="form-group" id="btnSubmit">                 
                    <button type="submit" class="btn btn-primary">Update Password</button>
                </div>   
            </div>
        </form>
   
        <div class="row" >
            <div class="col-md-2" id="backBtn">
                <a type="button" class="btn btn-primary" [routerLink]="['/view-profile']">Back</a>
            </div>
            <div class="col-md-2" id="editEmailBtn">
                <a type="button" class="btn btn-primary" [routerLink]="['/update-volEmail', volunteer$.id]">Edit Email</a>
            </div>
        </div>
    </div>
</div>




