<p>create-request works!</p>









<div class="flex-container">
    <div class="container">
        <form [formGroup]="newRequestForm" (ngSubmit)="onSubmit()">
            
                <div class="heading">
                    <h2 class="panel-title">Create a New Request:</h2>
                </div>
                
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            
                            <!-- <div class="form-group"> -->
                                <select class="custom-select" required>
                                  <option value="" selected>Select a Type Of Request*</option>
                                  <option value="1">Donation</option>
                                  <option value="2">Food</option>
                                  <option value="3">Loneliness</option>
                                  <option value="4">Medication</option>
                                  <option value="5">Other</option>
                                </select>
                            <!-- </div> -->

                            <!-- <label for="typeOfRequest">First Name:</label>
                            <input id="typeOfRequest" formControlName="typeOfRequest" type="text" class="form-control" [ngClass]="{ 'is-invalid': form.firstName.errors }" placeholder="First Name">
                            <div *ngIf="submitted && form.firstName.errors" class="invalid-feedback">
                                <div *ngIf="form.firstName.errors.pattern">First name not valid</div>
                                <div *ngIf="form.firstName.errors.required">First Name is required</div>
                            </div> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="description">A Brief Description (255 characters or less) of What You Need:</label>
                            <textarea id="description" formControlName="description" rows="4" type="text" class="form-control" [ngClass]="{ 'is-invalid': form.description.errors }" placeholder="Desccription of Your Need"></textarea>
                            <!-- <div *ngIf="submitted && form.description.errors" class="invalid-feedback"> -->
                            <div class="invalid-feedback">
                                <div *ngIf="form.description.errors.required">A Description is required</div>
                            </div>
                        </div>
                    </div>
                    
                <div class="form-group" id="btnSubmit">                 
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
           
          </form>
    </div>
</div>
