
<div class="flex-container">
    <div class="card w-75 p-3">
        <div class="card-header">
        Request Detail:
        </div>
        <div class="card-body">
            <div class = "row">
                <div class= "col-md-4">
                    Date Request Posted:
                </div>

                <div class= "col-md-8">
                    {{request$.datePosted | date: 'shortDate'}} 
                </div>
            </div>
            <div class = "row">
                <div class= "col-md-4">
                    Requestor Name:
                </div>

                <div class= "col-md-8">
                    {{request$.recipient.firstName}} {{request$.recipient.lastName}} 
                </div>
            </div>
            <!-- <p>{{request$.requestDescription}}</p> -->
            
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" [routerLink]="['/display-requests']">Back</a>
        </div>
    </div>
</div>