
<div class="flex-container">
    <div class="card w-75 p-3 mx-auto">
        <div class="card-header">
        Request Detail:
        </div>
        <div class="card-body">
            <div class = "row">
                <div class= "col-md-4">
                    <u>Date Request Posted:</u>
                </div>
                <div class= "col-md-8">
                    {{request$.datePosted | date: 'shortDate'}} 
                </div>
            </div>

            <div class = "row">
                <div class= "col-md-4">
                    <u>Requestor Location:</u>
                </div>
                <div class= "col-md-8">
                    {{request$.recipient.location}}
                </div>
            </div>

            <div class = "row">
                <div class= "col-md-4">
                    <u>Request Type:</u>
                </div>
                <div class= "col-md-8">
                    {{request$.typeOfRequest}}
                </div>
            </div>

            <div class = "row">
                <div class= "col-md-4">
                    <u>Request Description:</u>
                </div>

                <div class= "col-md-8">
                    {{request$.requestDescription}}
                </div>
            </div>

            <div class = "row">
                <div class= "col-md-4">
                    <u>Requestor Name:</u>
                </div>
                <div class= "col-md-8">
                    {{request$.recipient.firstName}} {{request$.recipient.lastName}} 
                </div>
            </div>

            <div class = "row">
                <div class= "col-md-4">
                    <u>Requestor Phone Number:</u>
                </div>
                <div class= "col-md-8">
                    {{request$.recipient.phoneNum}}
                </div>
            </div>

            <div class = "row">
                <div class= "col-md-4">
                    <u>Requestor Email:</u>
                </div>
                <div class= "col-md-8">
                    {{request$.recipient.email}}
                </div>
            </div>

            <div class = "row">
                <div class= "col-md-4">
                    <u>Requestor Social Media Site:</u>
                </div>

                <div class= "col-md-8">
                    {{request$.link}}
                </div>
            </div> 
            
            <div class = "row">
                <div class= "col-md-4">
                    <u>Request Status:</u>
                </div>

                <div class= "col-md-8">
                    {{request$.requestStatus}}
                </div>
            </div> 
        </div>

        <div class="card-footer">
            <!-- <div id="backBtn">
                <button type="button" class="btn btn-primary btn-lg" (click)="reRouteBack()">
                    Back
                </button>
            </div> -->
            <div id="backBtn">
                <a type="button" class="btn btn-primary btn-lg" [routerLink]="['/display-requests']">Back</a>
            </div>
            <div *ngIf="statusOpen" id="helpBtn">
                <button type="button" class="btn btn-success btn-lg" (click)="changeStatus(request$.id)">
                    Help
                </button>
            </div>
        </div>

        <div class="note">
            ***Please note that when you click the "Help" button, an email will be sent to the requestor letting 
            them know you have agreed to help them.  You will be responsible for contacting one another to complete 
            the request.
        </div>
    </div>
</div>