#more-info{
    text-align: center;
    font-size: 16pt;
    padding-bottom: 2%;
}

.row{
    text-align: center;
    font-size: 16pt;
    padding-top: 3%;
}

#row2{
    padding-bottom: 2%;
}

#about{
    font-size: larger;
}